# virtualenv
.venv/
venv/
ENV/
env/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# local env
.env

# editor / OS
.vscode/
.idea/
.DS_Store
thumbs.db

# Docker
docker-compose.override.yml
.env.local
